* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


body {
  font-family: 'Rubik', sans-serif;
}

.custom-navbar {
    /* Position */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    /* Contents */
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1rem;
}

.company-name {
    box-sizing: content-box;
    font-size: 1.5em;
    color: inherit;
    text-decoration: inherit;
    
}

.logout-click {
  box-sizing: content-box;
  font-size: 1.5em;
  text-align: right;
  padding: 1rem;
  color: inherit;
  text-decoration: inherit;
}

.company-name:hover {
    color: red;
}


.left {
  overflow: hidden;
  padding-top: 1rem;
  justify-content: top;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}


.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}