* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


body {
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%);
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.custom-navbar {
    /* Position */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    /* Contents */
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1rem;
}

.company-name {
    box-sizing: content-box;
    font-size: 1.5em;
    color: inherit;
    text-decoration: inherit;
    
}

.logout-click {
  box-sizing: content-box;
  font-size: 1.5em;
  text-align: right;
  padding: 1rem;
  color: inherit;
  text-decoration: inherit;
}

.company-name:hover {
    color: red;
}


.left {
  padding-top: 110px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: top;
  background-color: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}


.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h3 {
  margin: 0;
  font-weight: medium;
  font-size: 25px;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

table {
  counter-reset: rowNumber - 1;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 800px;
  }
}