<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>
		Friend Search
	</title>
    <link href="static/form.css" rel="stylesheet">
</head>

<body>
    <h1 class="animation a0">Friend Search</h1>
    <h2 class="animation a0">Submit the username of one of the friends you know on that has created an account to view their songs.</h2>

	<!-- Create Form -->
	<form action="/form" method="GET" id="form">
        <div class="left animation a1 form-control">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
		</div>
		<!-- Multi-line Text Input Control -->
		<div class="button">
            <button type="submit" class="button animation a6">SUBMIT</button>
        </div>
	</form>
</body>

</html>
